<ion-modal-view style="background-color: rgba(47, 42, 42, 0);">

  
        <ion-content class="bg1 " scroll="false" style="height: 40%;top: 60%;/* position: absolute; */">

          <a class="item v_62" animate-spin style=" text-align: right; " ng-click="close_speech_menu()">
                    <i class="icon ion-android-close v_63"></i>
          </a>

        <div style='text-align: center;'>
            <p style=" color: #fff; font-weight: 400; font-size: 16px;">Recording Started , let's speek now !!!</p>
             </div>
        <div style='text-align: center;margin-top:40px;'> 
            <button class='btn_start' ng-click="$parent.close_speech_menu()">Stop !</button>
        </div>
             
             
    </div>
    </ion-content>
</ion-modal-view>
